body{
  padding: 0;
  margin: 0;
}

#app{
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.btn-color-custom{
  background: linear-gradient(45deg, #ff9900, #ff3300);
  color: black !important;
  border: none;
  font-weight: bold;
  transition:0.6s ease-in-out;
}

.btn-color-custom:hover {
  background: linear-gradient(45deg, #ff9900, #ff6600);
  color: black !important;
}